{% macro render_field(field) %}
    <div class="common-form__field-wrapper">
    {% if field.label.text %}
        <label class="common-form__label common-form__label_top" for="{{ field.id }}">{{ field.label }}:{% if field.flags.required %} *{% endif %}</label>
    {% endif %}
    {{ field(**kwargs) }}
    {% if field.errors %}
        <div class="form-errors">
            <ul>
                {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if field.description %}
        <div class="common-form__description">
            {{ field.description|safe }}
        </div>
    {% endif %} 
    </div>
{% endmacro %}


{% macro choice_field(choice_field) %}
    <div class="common-form__field-wrapper">
    <label class="common-form__label" for="{{ choice_field.id }}">{{ choice_field.label }}:{% if choice_field.flags.required %} *{% endif %}</label>
    {% for field in choice_field %}
        {{ field(**kwargs) }} {{ field.label }}&nbsp;&nbsp;
        {% endfor %}
        {% if choice_field.description %}
            <div class="common-form__description">
                {{ choice_field.description|safe }}
            </div>
        {% endif %} 
    </div>
{% endmacro %}
